version: '3.8'

services:
  agents-postgres:
    image: defogai/agents-postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - agents-postgres:/var/lib/postgresql/data
    networks:
      - agents-network

  agents-python-server:
    image: defogai/agents-python-server:latest
    environment:
      - DEFOG_API_KEY=${DEFOG_API_KEY} # for backwards compatibility. avoid using DEFOG_API_KEY going forward due to potential conflicts with usage in defog-python
      - DEFOG_API_KEYS=${DEFOG_API_KEYS}
      - DEFOG_API_KEY_NAMES=${DEFOG_API_KEY_NAMES}
      - DEFOG_BASE_URL=${DEFOG_BASE_URL:-https://api.defog.ai}
      - DEFOG_GENERATE_URL=${DEFOG_GENERATE_URL:-https://api.defog.ai/generate_query_chat}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - SLACK_BOT_TOKEN=${SLACK_BOT_TOKEN}
      - ANALYSIS_ASSETS_DIR=${ANALYSIS_ASSETS_DIR}
      - DBHOST=${DEFOG_DBHOST:-agents-postgres}
      - DBPORT=${DEFOG_DBPORT:-5432}
      - DATABASE=${DEFOG_DATABASE:-postgres}
      - DBUSER=${DEFOG_DBUSER:-postgres}
      - DBPASSWORD=${DEFOG_DBPASSWORD:-postgres}
      - IMPORTED_TABLES_DBNAME=${IMPORTED_TABLES_DBNAME:-imported_tables}
      - REDIS_INTERNAL_PORT=${REDIS_INTERNAL_PORT:-6379}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LLM_CALLS_URL=${LLM_CALLS_URL}
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONPATH=/backend
      - INTERNAL_DB=${INTERNAL_DB:-postgres}
      - LLM_SERVER_ENDPOINT=${LLM_SERVER_ENDPOINT}
      - LLM_MODEL_NAME=${LLM_MODEL_NAME}
      - STRIPE_ACCOUNT_ID=${STRIPE_ACCOUNT_ID}
      - STRIPE_CLIENT_SECRET=${STRIPE_CLIENT_SECRET}
      - GOOGLE_ANALYTICS_CREDS_PATH=${GOOGLE_ANALYTICS_CREDS_PATH}
      - GOOGLE_ANALYTICS_PROPERTY_IDS=${GOOGLE_ANALYTICS_PROPERTY_IDS}

      # Email configuration
      - EMAIL_OPTION=${EMAIL_OPTION:-DEFOG}
      - FROM_EMAIL=${FROM_EMAIL}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - DELETE_EXISTING_TOOLS=${DELETE_EXISTING_TOOLS:-no}
    volumes:
      - agents-assets:/agents-assets/
    depends_on:
      - agents-postgres
      - agents-redis
    networks:
      - agents-network

  agents-nginx:
    image: defogai/agents-nginx:latest
    ports:
      - "80:80"
      - "443:443"
    networks:
      - agents-network
    depends_on:
      - agents-python-server

  agents-redis:
    image: redis:7-alpine
    command: >
      redis-server --maxmemory 128mb --maxmemory-policy allkeys-lru
    volumes:
      - agents-redis:/data
    networks:
      - agents-network
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 128M

volumes:
  agents-postgres:
  agents-assets:
  agents-redis:

networks:
  agents-network: